<div class="container ">
    <div class="d-flex justify-content-center align-items-center pt-3 image-container">
        <img class="logo" src="../../../assets/images/Frame 11.svg" alt="">
    </div>
    
</div>


<div class="soon  pt-5 container-fluid ">
<div class="row d-flex justify-content-between">
    <div class="col-md-6">
        <img class="w-100" src="../../../assets/images/Frame 15.svg" alt="">
        <a target="_blank" href="https://pinginfo-my.sharepoint.com/personal/m_khalid_ping_com_sa/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fm%5Fkhalid%5Fping%5Fcom%5Fsa%2FDocuments%2FMicrosoft%20Teams%20Chat%20Files%2FBeauty%20Solution%20Company%20Profile%201%2Epdf&parent=%2Fpersonal%2Fm%5Fkhalid%5Fping%5Fcom%5Fsa%2FDocuments%2FMicrosoft%20Teams%20Chat%20Files&ga=1" >

            <img class="img-fluid" src="../../../assets/images/Frame 19.svg" alt="">
        </a>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-start align-items-center">
        <h1 class="mt-4">انتظرونا قريباً</h1>
        <dotlottie-player class="my-0 py-0 " src="../../../assets/Animation - 1722516719331.json" background="transparent" speed="1"  loop autoplay></dotlottie-player>


        <a target="_blank" href="https://pinginfo-my.sharepoint.com/personal/m_khalid_ping_com_sa/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fm%5Fkhalid%5Fping%5Fcom%5Fsa%2FDocuments%2FMicrosoft%20Teams%20Chat%20Files%2FBeauty%20Solution%20Brouchore%2Epdf&parent=%2Fpersonal%2Fm%5Fkhalid%5Fping%5Fcom%5Fsa%2FDocuments%2FMicrosoft%20Teams%20Chat%20Files&ga=1" download>
            <img class="img-fluid" src="../../../assets/images/Frame 20.svg" alt="">
          </a>
          
 
    </div>
</div>
</div>


